{
"email":
    {
    "value":
        {
        "base":
            {
            "value": "email_web"
            },
        "default_file":
            {
            "value": "index.html"
            },
        "user_id":
            {
            "value": "hdkim@narantech.com"
            },
        "password":
            {
            "value": "clwhite8330"
            }
        }
    }
}
